<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="DevAll_Payze::payze"
             title="Payze"
             translate="title"
             module="DevAll_Payze"
             resource="DevAll_Payze::payze"
             parent="Magento_Backend::content"
             sortOrder="900"
        />
        <add
                id="DevAll_Payze::transactions"
                title="All Transactions"
                translate="title"
                module="DevAll_Payze"
                resource="DevAll_Payze::transactions"
                parent="DevAll_Payze::payze"
                action="payze/transactions"
        />
    </menu>
</config>
